@charset "UTF-8";

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  src: local('../fonts/Vazir'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype'), url('../fonts/Vazir.svg') format('svg');
}
*{
    font-family: "Vazir";
  }
body {
    background-color: #ffffff;
}
.container {
    margin-top: 30px;
}
.navbar {
    margin-bottom: 20px;
}
#sidebar {
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    position:fixed;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-right: 20px;
    width: 250px;
}
#sidebar .list-group-item {
    background-color: transparent;
    border: none;
}
#sidebar .list-group-item:hover {
    background-color: #212529;
}
#content {
    margin-left: 270px;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.table {
    margin-top: 20px;
}
th {
    background-color: #f8f9fa;
    color: #333;
}
.modal-title {
    font-weight: bold;
    color: #333;
}
.form-group{
    text-align: right;
}
#btn1{
    text-align: right;
}
.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    margin-right:16px ;
}
.form-select{
    width: 100%;
    text-align: right;
    padding: 12px;
    margin-bottom: 16px;
    

}